
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
	font: normal normal 13px/16px "Open Sans", sans-serif;
	background: #eaeaea;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 30rem;
	padding: 1.25rem 1.25rem .75rem;
	margin: 10% auto 0;
	border-radius: 3px;
	border: 1px solid hsl( 190, 20%, 77% );
	box-shadow: 0 .25rem .5rem #0003;
	background-color: hsl( 190, 20%, 82% );
}

.container > * {
	padding: 0;
	margin: 0 0 .75em;
}

form {
	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	width: 100%;
	padding: .4em;
	margin-right: .2rem;
}

#plus-button{
	background-color: hsl( 190, 100%, 40% );
	color:#ffffff;
	padding: .05rem .7rem;
	margin: 0;
	border: 1px solid hsl( 190, 100%, 35% );
	border-radius: 3px;
	border: none;
	text-align: center;
	font-size: 1.5rem;
	text-shadow: 1px 1px black;
}

#plus-button:hover {
	cursor: pointer;
	opacity: .8;
}

ol { padding-left: .25rem; }

ol li {
	padding: 5px;
	color:#000;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	user-select: none;
}

ol li:nth-child(even) { background: #fff; }
ol li:nth-child(odd) { background: #eaeaea; }

.strike { 
	text-decoration: line-through;
	text-decoration-color: #c00;
}

li:hover{ cursor: pointer; }

.delete { display: none; }

li > .xBtn {
	background: none;
	border: none;
	float: right;
	margin: auto 0;
	color: #c12;
	font-weight: 800;
}

.container h1 {
	color: hsl( 190, 100%, 35% );
	margin-bottom: 1em;
}

h2 { cursor: pointer; }
h2:hover { color: #777; }
h2:active { color: hsl( 190, 100%, 40% ); }